
.container {
    display: flex;
    width: 100vw; /* 100% da largura da viewport */
    height: 100vh; /* 100% da altura da viewport */
    margin:0 ;
    padding: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
